<div class="actions">{{we-action-create-btn 'article' req}}</div>
{{#each data}}
  {{render-record-teaser modelName='article' record=this locals=..}}
  <hr>
{{else}}
  <p>{{t 'article.find.empty'}}</p>
{{/each}}

{{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}