{{#if data.creator}}<div class="article-creator">
  <p class="post-meta">{{t 'Posted by'}}
  {{#link-to-record record=data.creator}}{{data.creator.displayName}}{{/link-to-record}}
  {{t 'on'}} {{we-date data.createdAt}} </p>
</div>{{/if}}
{{we-action-edit-btn resourceName data req data.id}}
{{we-action-delete-btn resourceName data req data.id}}
<div class="article">{{{data.body}}}</div>
<hr>