<div class="actions">{{we-action-create-btn 'article' req}}</div>
{{#each data}}
  <div class="post-preview">
  {{#link-to-record record=this}}
    <h2 class="post-title">{{title}}</h2>
    <h3 class="post-subtitle">{{about}}</h3>
  {{/link-to-record}}
    {{#if creator}}
      <p class="post-meta">{{t 'Posted by'}}
      {{#link-to-record record=creator}} {{creator.displayName}} {{/link-to-record}}
      {{t 'on'}} {{we-date createdAt}} </p>
    {{/if}}
  </div>
  <hr>
{{else}}
  <p>{{t 'article.find.empty'}}</p>
{{/each}}

{{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}