<hr>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{we-menu req.we.menu.social}}
        <p class="copyright text-muted">
          Copyleft, <strong>{{req.we.config.appName}}</strong> 2015
          - <a href="http://wejs.org">We.js ;) powered!</a>
        </p>
      </div>
    </div>
  </div>
</footer>

{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}