
<div class="portfolio">
  <h1>{{data.title}}</h1>

<div class="row">
<div class="col-md-8">

  {{we-action-edit-btn resourceName data req data.id}}
  {{we-action-delete-btn resourceName data req data.id}}

  <div class="portfolio-body">{{{data.description}}}</div>

  {{#if data.attachment}}
    <h4 class="article-attachment-title">{{t 'form-portfolio-attachment'}}</h4>
    <div class="article-attachment">
      <table class="table table-bordered">
        <thead><tr>
          <th>{{t 'Name'}}</th>
          <th>{{t 'Actions'}}</th>
        </tr></thead>
        <tbody>
          {{#each data.attachment}}
            <tr>
              <td data-file-name>{{originalname}}</td>
              <td>
                <a class="btn btn-default" href="{{urls.original}}" text="{{originalname}}" download="{{originalname}}">{{t 'download'}}</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>
<div class="col-md-4">
  {{#if data.tags}}
    <div class="portfolio-tags">{{we-terms data.tags }}</div>
    <div class="clearfix"></div>
  {{/if}}
  <hr>
  {{#if data.images}}
    <h4 class="article-galery-title">{{t 'form-article-images'}}</h4>
    <div class="article-galery">
      {{we-fancybox-galery id="articleImageGalery" rel="article" images=data.images style='medium'}}
    </div>
  {{/if}}
</div>

</div>

</div>